.ld-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 4%;
  text-shadow: 3px 3px #2c2a2a41;
  color: #2b2b2c;
}

.ld-page {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.ld-content {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.ld-content-consults,
.ld-content-patients {
  width: 50%;
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
}

.ld-content-consults {
  border-right: 1px solid #2b2b2c;
}

.ld-content-consults > h1,
.ld-content-patients > h1 {
  height: 32px;
  margin: -22px 0 0 0;
  font-size: 22px;
}

.ld-content-list {
  border-radius: 25px;
  background-color: #d9d9d9;
  overflow-y: auto;
  flex-grow: 1;
}

.ld-content-list > *:not(:last-child) {
  margin-bottom: 20px;
}

.ld-header-aside {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.ld-header-aside button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
}

.ld-header-aside:hover button {
  pointer-events: all;
  opacity: 100;
  cursor: pointer;
}

.ld-header-aside img {
  height: 100%;
  width: 100%;
}

.cc-container {
  position: relative;
  background-color: #1b2333;
  border-radius: 25px;
  padding: 4px 14px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

.cc-container:hover {
  background-color: #32456b;
}

.cc-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.301);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cc-header-title {
  opacity: 70%;
}

.pc-container {
  position: relative;
  background-color: #1b2333;
  border-radius: 25px;
  padding: 15px 14px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

.pc-name-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.301);
  padding: 0 0 15px 0;
}

.pc-code-container {
  padding: 15px 0 0 0;
  opacity: 70%;
}
